<div id="nav">
    <div id="title">
        <h1><a href="{$page_depth}/index.html">{$site_title}</a></h1>
        <subtitle>{$site_description}</subtitle>
    </div>
    <div id="links">
        <ul>
            <li><a class="in" href="{$page_depth}/index.html">Home</a></li>
            <li><a class="in" href="{$page_depth}/professional.html">Professional</a></li>
            <li><a class="in" href="{$page_depth}/about.html">About</a></li>
            <!--li><a class="in" href="{$page_depth}/styles.html">Styles</a></li-->
            <li><a class="in" href="{$page_depth}/contact.html">Contact</a></li>
        </ul>
    </div>
</div>
<hr>