@font-face {
    font-family: Unlucky;
    font-weight: bold;
    src: url(../Fonts/Unlucky-Regular.otf) format("opentype");
}
@font-face {
    font-family: Source Serif;
    font-weight: normal;
    src: url(../Fonts/SourceSerif4-Regular.ttf.woff) format("woff");
}
@font-face {
    font-family: "Cascadia Code";
    font-style: normal;
    font-weight: 400;
    src: url(../Fonts/CascadiaCode.woff2) format("woff2");
}

body {
    background-color: hsl(130, 14%, 11%);
    background-image: url('../Graphics/bg.svg');
    color: #ffe;
    padding: 40px 0 40px 40px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    
}

/* Don't run on ios (blend mode overlay doesn't work with repeating backgrounds on ios) */
/*
@supports not (-webkit-touch-callout: none) {
    body {
        background: repeating-linear-gradient(45deg, hsl(130, 14%, 23%) 0px, hsl(130, 14%, 23%) 8px, hsl(179, 22%, 20%) 8px, hsl(179, 22%, 20%) 100px), repeating-linear-gradient(-45deg, hsl(130, 14%, 23%) 0px, hsl(130, 14%, 23%) 8px, hsl(179, 22%, 20%) 8px, hsl(179, 22%, 20%) 100px) ;
        background-blend-mode: overlay;
    }
}
*/

h1, h2, h3, subtitle {
    font-family: 'Source Serif' ,serif;
    margin: 0 0 0 0;
}

thead tr td {
    font-weight: bold;
}

table.tbl-fit, .tbl-fit th, .tbl-fit td {
    border: 1px solid #2A5E45;
}

.tbl-fit td {
    padding: 0.5em;
}

u {
    text-decoration-thickness: 2pt;
    text-decoration-color: #2A5E45;
}

pre {
    font-family: 'Cascadia Code' ,'Courier New', Courier, monospace;
    
    background-color: rgb(39, 40, 34, 0.7);
    padding: 1em;

    border: 1.5pt;
    border-style: solid;
    border-color: #44453d;

    white-space: pre-wrap;
}

pre .symbol {
    color:rgb(158, 210, 255);
}

pre .literal {
    color: pink;
}

pre.terminal {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: #464646;
}

ul {
    list-style: square url(../Graphics/bullet.svg) inside;
}

blockquote {
    padding: 1em;
    margin-left: 1em;
    border-left: 0.5em solid #999;
    font-family: 'Source Serif', serif;
}

blockquote cite::before {
    content:'\a— ';
    white-space: pre;
}


#nav h1 a {
    font-family: 'Unlucky', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 96pt;
    margin-top: -0.2em;
    color: #ffe;
    display: block;
    text-transform: lowercase;
}

#nav subtitle {
    margin-top: 2em;
}

#nav #title {
    display: inline-block;
}

#nav #links {
    display: inline-block;
}

#nav h1, #nav h2, #nav h3, #nav subtitle {
    color: #ffe;
    margin: 0 0 0 0;
}

#page {
    max-width:666px;
    line-height: 1.5;
}

#page-inner {
    padding-right: 40px;
}

#page h1, #page h2, #page h3 {
    color: seagreen;
}

#page b, #page i, #page strong, #page em {
    color: #D95DB8;
}
#footer {
    width: 100%;
    padding-top: 40px;
    padding-bottom:1em;
    display: inline-block;
}

#footer a {
    padding: 0.5em;
}

#footer #icons {
    padding-top: 0.5em;
}
a:not(#nav h1 a) {
  color:#ffe;
}

#nav h1 a {
  color:#ffe;
}

a {
    text-decoration: none;
}

a:not(#nav h1 a) {
  text-decoration: underline dotted;
  text-decoration-color: #D95DB8;
}


a.out:after {
    content:' ^';
}

a.out:before, a.out:after {
  color: #D95DB8;
}