a {
    text-decoration: none;
    color:{$color_text};
}

a:not(.out, #nav h1 a) {
  text-decoration: underline dotted;
  text-decoration-color: {$color_text_em};
}


a.out:before {
    content:'{';
}

a.out:after {
    content:'}';
}

a.out:before, a.out:after {
  color: {$color_text_em};
}