
#nav h1 a {
  color:var(--text-title-h1);
  text-decoration: none;
}

#page a, #nav #links a {
  text-decoration: none !important;
  color:var(--text-a)
}

#page a.out, #nav #links a.out {
  color:var(--text-faint)
}
