
#nav h1 a {
    font-family: 'Passageway', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50pt;
    margin-top: -0.2em;
    color: var(--text-title-h1);
    display: block;
    text-transform: lowercase;
}

#nav subtitle {
    margin-top: 2em;
}

#nav #title {
    display: inline-block;
}

#nav #links {
    display: inline-block;
}

#nav h1, #nav h2, #nav h3, #nav subtitle {
    margin: 0 0 0 0;
}
