#page {
    /*
    Centering and content width are currently controlled by the body tag
    margin: auto;
    max-width:{$style_page_width};
    */
    line-height: 1.5;
}

#page-inner {
}

#page b, #page i, #page strong, #page em {
    color: var(--text-dim);
}