#page {
    /*
    Centering and content width are currently controlled by the body tag
    margin: auto;
    max-width:{$style_page_width};
    */
    line-height: 1.5;
}

#page-inner {
}

#page h1, #page h2, #page h3 {
    color: {$color_page_title};
}

#page b, #page i, #page strong, #page em {
    color: {$color_text_em};
}