body {
    background-color: {$color_bg};
    color: {$color_text};
    padding: {$style_standard_pad} 0 {$style_standard_pad} {$style_standard_pad};
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: serif;
    font-style: italic;
    margin: 0 0 0 0;
}

#nav h1, #nav h2, #nav h3 {
    color: {$color_site_title};
}

table.tbl-fit, .tbl-fit th, .tbl-fit td {
    border: 1px solid black;
}

{include:CSS/Nav.css}
{include:CSS/Page.css}
{include:CSS/Footer.css}
{include:CSS/Links.css}