
<table class="tbl-fit">
    <thead>
        <tr>
            <td>Where</td>
            <td>When</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Riot Games
            </td>
            <td>2024 — Now</td>
        </tr>
        <tr>
            <td>
                <a class="in" href="{$page_depth}/Jobs/xbox.html">Xbox</a>
            </td>
            <td>2019 — 2024</td>
        </tr>
        <tr>
            <td><a class="in" href="{$page_depth}/Jobs/snowedin.html">Snowed In Studios</a></td>
            <td>2015-2019</td>
        </tr>
        <tr>
            <td><a class="in" href="{$page_depth}/Jobs/cgx.html">Capital Gaming Expo</a></td>
            <td>2017</td>
        </tr>
        <tr>
            <td><a class="in" href="{$page_depth}/Jobs/gaae.html">Game & Art Expo</a></td>
            <td>2015-2016</td>
        </tr>
        <tr>
            <td><a class="in" href="{$page_depth}/Jobs/ubisoft.html">Ubisoft Montreal</a></td>
            <td>2013-2015</td>
        </tr>
        <tr>
            <td><a class="in" href="{$page_depth}/Jobs/magmic.html">Magmic</a></td>
            <td>2012-2013</td>
        </tr>
        <tr>
            <td><a class="in" href="{$page_depth}/Jobs/qnx.html">QNX</a></td>
            <td>2011-2012</td>
        </tr>
        <tr>
            <td>Algonquin College (Game Development Program Assistant)</td>
            <td>2010-2011</td>
        </tr>
    </tbody>
</table>
